<table>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Time Logs</th>
    <th>Total Hours Worked</th>
  </tr>
  <% @clock_events.each do |clock_event| %>
    <tr>
      <th><%= clock_event.user.to_s %></th>
      <th><%= clock_event.occurred_at %></th>
    </tr>
  <% end %>
</table>

