<h1>Clock Your Hours</h1>

<h2>Today's Time Clocked</h2>
<table class="todays-clocked-user-events">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>In/Out</th>
  </tr>
  <% @clock_events.all.each do |clock_event| %>
    <tr>
      <td><%= clock_event.occurred_at.strftime('%F') %></td>
      <td><%= clock_event.occurred_at.strftime('%R') %></td>
      <td><%= clock_event.in_or_out %></td>
    </tr>
  <% end %>
</table>



